.container {
  min-height: 100vh;
  color: #fff;
  background-color: #101010;
}

.blur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(55px);
          backdrop-filter: blur(55px);
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 100vh;
}

.grid {
  margin: 20px;
  padding: 24px 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.32);
  min-width: 100vw;
  -webkit-box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.03), 0 5px 6.1px rgba(0, 0, 0, 0.03), 0 10.1px 11.4px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.03), 0 5px 6.1px rgba(0, 0, 0, 0.03), 0 10.1px 11.4px rgba(0, 0, 0, 0.03);
}

.card {
  margin: 20px;
  padding: 40px 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.32);
  min-width: 380px;
  border-radius: 12px;
  -webkit-box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.03), 0 5px 6.1px rgba(0, 0, 0, 0.03), 0 10.1px 11.4px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.03), 0 5px 6.1px rgba(0, 0, 0, 0.03), 0 10.1px 11.4px rgba(0, 0, 0, 0.03);
}

.card h1 {
  font-size: 26px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
  position: relative;
}

.avatar {
  border-radius: 50%;
}

.nameWrap {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nameWrap .username {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.nameWrap .bio {
  text-align: center;
  color: #ccc;
  font-size: 14px;
}

.iconWrap {
  color: #fff;
  font-size: 24px;
  padding: 3px;
}

.icon {
  margin-right: 4px;
}

.track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  max-width: 100%;
}

.track .thumb {
  border-radius: 10%;
  -webkit-animation: animation02 0.5s forwards;
          animation: animation02 0.5s forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.track .description {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}

.track .description .name {
  color: #fff;
  font-size: 18px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track .description .artist {
  color: #ccc;
  font-size: 14px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trackStatus {
  margin: 40px 0px;
}

.apiDescription {
  color: #ccc;
  font-size: 11px;
  margin: 20px 0px 0px 0px;
}

.apiDescription a {
  color: #fff;
}

@-webkit-keyframes animation01 {
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes animation01 {
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@-webkit-keyframes animation02 {
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animation02 {
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=Home.module.css.map */