// Colors
$primary: #fff;
$second: #ccc;
$accent: #65C3C8;

$black: #101010;

.container{
  min-height: 100vh;
  color: $primary;
  background-color: $black;
  transition: all 2s;
}
.blur{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(55px);
  background-color: rgba(255,255,255,0.2);
  min-height: 100vh;
}
.grid{
  margin: 20px;
  padding: 24px 85px;
  flex-direction: column;
  display: flex;
  align-items: center;
  backdrop-filter: blur(30px);
  background-color: rgba(0,0,0,0.32);
  min-width: 100vw;
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.03), 0 5px 6.1px rgba(0, 0, 0, 0.03), 0 10.1px 11.4px rgba(0, 0, 0, 0.03);
}
.card{
  margin: 20px;
  padding: 40px 48px;
  flex-direction: column;
  display: flex;
  align-items: center;
  backdrop-filter: blur(30px);
  background-color: rgba(0,0,0,0.32);
  min-width: 380px;
  border-radius: 12px;
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.03), 0 5px 6.1px rgba(0, 0, 0, 0.03), 0 10.1px 11.4px rgba(0, 0, 0, 0.03);

  h1{
    font-size: 26px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    overflow: hidden;
    position: relative;
    animation: fadeIn 0.8s forwards;
    animation-direction: alternate;
    &::selection {
      background: $accent;
      color: #fff;
    }
  }
}

.avatar{
  border-radius: 50%;
  animation: fadeIn 0.8s forwards;
  animation-direction: alternate;
  &::selection {
    background: $accent;
  }
}
.nameWrap{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 0.8s forwards;
  animation-direction: alternate;

  .username{
    text-align: center;
    color: $primary;
    font-size: 22px;
    font-weight: 700;

    &::selection {
      background: $accent;
      color: $primary;
    }
  }
  .bio{
    text-align: center;
    color: $second;
    font-size: 14px;

    &::selection {
      background: $accent;
      color: $primary;
    }
  }
}

.iconWrap{
  padding: 3px;
  animation: fadeIn 0.8s forwards;
  animation-direction: alternate;
}
.icon{
  color: $primary;
  font-size: 24px;

  &:hover{
    opacity: 0.6;
  }
}

.track{
  display: flex;
  padding: 10px 0px;
  max-width: 100%;

  .thumb{
    border-radius: 10%;
    animation: fadeIn 0.5s forwards;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-delay: 0.7s;
    opacity: 0;

    &::selection {
      background: $accent;
    }
  }
  
  .description{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 10%;
    animation: fadeIn 0.5s forwards;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-delay: 0.7s;
    opacity: 0;

    .name{
      color: $primary;
      font-size: 18px;
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::selection {
        background: $accent;
        color: $primary;
      }
    }
    .artist{
      color: $second;
      font-size: 14px;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::selection {
        background: $accent;
        color: $primary;
      }
    }
  }
}

.trackStatus{
  margin: 40px 0px;
  animation: fadeIn 0.2s forwards;
  animation-direction: alternate;
}
.apiDescription{
  color: $second;
  font-size: 11px;
  margin: 20px 0px 0px 0px;
  animation: fadeIn 1.5s forwards;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-direction: alternate;
  opacity: 0;

  &::selection {
    background: $accent;
    color: $primary;
  }

  a{
    color: $primary;
    &::selection {
      background: $accent;
      color: $primary;
    }
  }
}

@keyframes blurFadeIn {
  0%{
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation02 {
  100% {
  transform: translateX(0%);
  }
}
