// Colors
$primary: #fff;
$second: #808080;

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.grid{
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;

  h1{
    font-size: 28px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    overflow: hidden;
    position: relative;

    &:before{
      background: #101010;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      content: '';
      animation: animation01 0.6s forwards;
      animation-timing-function: ease-out;
      animation-delay: 0.3s;
      animation-direction: alternate;
    }
  }
}

.avatar{
  border-radius: 50%;
}
.nameWrap{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .username{
    text-align: center;
    color: $primary;
    font-size: 22px;
    font-weight: 700;
  }
  .bio{
    text-align: center;
    color: $second;
    font-size: 14px;
  }
}

.iconWrap{
  color: $primary;
  font-size: 24px;
  padding: 3px;
}
.icon{
  margin-right: 4px;
}

.track{
  display: flex;
  padding: 10px 0px;
  max-width: 100%;

  .thumb{
    border-radius: 10%;
    animation: animation02 0.6s forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.9s;
    animation-direction: alternate;
    transform: translateX(100%);
  }
  
  .description{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &:before{
      background: #101010;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      content: '';
      animation: animation01 0.6s forwards;
      animation-timing-function: ease-out;
      animation-delay: 0.9s;
      animation-direction: alternate;
    }
  
    .name{
      color: $primary;
      font-size: 18px;
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .artist{
      color: $second;
      font-size: 14px;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.trackStatus{
  margin: 40px 0px;
}
.apiDescription{
  color: $second;
  font-size: 11px;
  margin: 20px 0px 0px 0px;

  a{
    color: $primary;
  }
}

@keyframes animation01 {
  100% {
  transform: translateX(101%);
  }
}

@keyframes animation02 {
  100% {
  transform: translateX(0%);
  }
}
