.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.grid{
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.grid h1{
  font-size: 30px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
}
.nameWrap{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.username{
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}
.bio{
  text-align: center;
  color: #808080;
  font-size: 14px;
}
.avatar{
  border-radius: 50%;
}
.iconWrap{
  color: #fff;
  font-size: 14px;
  padding: 3px;
}
.icon{
  margin-right: 4px;
}
.track{
  display: flex;
  padding: 10px 0px;
  max-width: 100%;
}
.trackThumb{
  border-radius: 10%;
}
.trackDescription{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trackArtist{
  color: #808080;
  font-size: 14px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trackName{
  color: #fff;
  font-size: 18px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.trackStatus{
  margin: 40px 0px;
}
.apiDescription{
  color: #808080;
  font-size: 11px;
  margin: 20px 0px 0px 0px;
}
.apiDescription a{
  color: #fff;
}
